*{
    margin: 0;
    padding: 0;
}
body {
    display: flex ;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
    background-color: rgb(145, 180, 164);
}
.container {
    background-color: rgb(233, 224, 224);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 30vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    margin: 2rem 0 1rem 0;
}

form select, button, input{
    width:100%;
    border : none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid rgb(68, 65, 65);
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
    max-width: 2rem;
    margin-right: 0.5rem;
}
.select-container{
    display: flex;
   width: 7rem;
   
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(210, 205, 205);border-radius: 1rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
    
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    background-color: rgb(207, 115, 115);
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.dropdown i{
    font-size: 1rem;
    margin: 2rem 1rem 1rem 1rem ;
    color: rgb(68, 65, 65);
    cursor: pointer;
}
p{
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}
select option{
    padding: 0.75rem;
    font-size: 0.75rem;
}